<h1>Pagina de Login</h1>
<%= t('hello') %>
<%= link_to "Lista de Clientes", "/customers" %>
<%= link_to "Lista de Clientes", customers_path %>
<%= link_to "Criar Cliente", new_customer_path %>

<br><br><br>

<%= t('author') << ': ' << t('my_name') %>