<%= form_with(model: vacancy, local: true) do |form| %>
  <% if vacancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
      <% vacancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :vacancy_position %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.number_field :salary, id: :vacancy_salary %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :vacancy_company_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
